@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #00c951;
  --color-secondary: #0fbb54;
  --color-light: #fff6fa;
  --color-border: #eeeeee;
  --color-success: #0e9a5f;
  --color-warning: #fdae1c;
  --color-danger: #ff4040;
  --color-info: #1c8bef;
  --color-title: #11001c;
  --color-subtitle: #190028;
  --color-body: #323232;
  --color-background: #e4dfed;
  --color-black: #000;
  --color-white: #fff;

  --font-body: 'Noto Sans Bengali', sans-serif;
  --font-sans: 'Noto Sans Bengali', sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

@layer base {
  dialog {
    margin: auto;
  }
}

@layer components {
  .scrollbar::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
  }

  .scrollbar:hover::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar:hover::-webkit-scrollbar-track {
    background: linear-gradient(0deg, rgb(220, 200, 246) 0%, rgb(216, 216, 255) 100%);
  }

  .scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .form__control {
    @apply w-full rounded border border-border px-4 py-2 text-sm focus:outline-none focus:border-primary;
  }

  /* sidebar css */
  .sidebar {
    @apply w-60 h-screen shadow-md overflow-y-auto px-2 py-4;
  }

  .menu {
    @apply space-y-6 text-sm font-medium text-gray-700;
  }

  .menu__section {
    @apply space-y-2;
  }

  .menu__title {
    @apply text-xs font-semibold uppercase text-gray-400 mb-2;
  }

  .menu__list {
    @apply space-y-1;
  }

  .menu__item {
    @apply relative;
  }

  .menu__button {
    @apply flex justify-between w-full px-3 py-2 rounded cursor-pointer hover:bg-gray-100;
  }

  .menu__button__label {
    @apply flex items-center space-x-2 hover:text-primary;
  }

  .menu__submenu {
    @apply ml-4 mt-1 space-y-1;
  }

  .menu__link {
    @apply relative block px-3 py-2 rounded-md hover:text-primary;
  }

  .menu__link::before {
    content: '';
    @apply w-1.5 h-1.5 rounded-full bg-gray-200 hover:bg-primary absolute left-0 top-1/2 -translate-y-1/2;
  }

  .menu__link.no-before {
    @apply flex items-center space-x-2 px-3 py-2 rounded cursor-pointer hover:bg-gray-100 hover:text-primary;
  }

  .menu__link.no-before::before {
    content: none !important;
  }
}
